
@media (max-width: 920px)
    .info__block
        flex-direction: column
    .go-catalog-btn
        max-width: 200px
        margin-top: 20px
    .col-1
        margin-right: 0px
        max-width: 920px
        width: 100%
    .tabs__wrapper
        margin-top: 100px
    
@media (max-width: 768px)
    .top__wrapper
        flex-wrap: wrap
    .info__slider
        max-width: 500px
        &-item
            img
             width: 100%
    .slider__nav 
        height: 348px

@media (max-width: 650px)
    .info__title
        font-size: 24px
        line-height: 30px
    .info__inner
        margin-top: 20px
        &-price
            font-size: 30px
            margin-bottom: 20px
            margin-right: 20px
        &-buy
            font-size: 16px
            line-height: 32px
            height: 34px
            margin-bottom: 20px
        &-drop
            height: 34px
    .go-catalog-btn
        line-height: 40px
        margin-top: 0px
    .drop-menu a
        line-height: 30px
    .slider__wrapper
        flex-direction: column
    .info__slider
        max-width: 100%
    .slider__nav
        max-width: 650px
        width: 100%
        height: 58px
        padding-top: 10px
        padding-left: 35px
        padding-right: 35px
        margin-left: 0
        margin-top: 10px
        .slick-next
            right: 5px
            left: auto
            top: 24px
            transform: rotate(-90deg)
        .slick-prev
            left: 7px
            top: 24px
            transform: rotate(-90deg)
    .go-catalog-btn
        margin-top: 20px
    .tabs__wrapper
        margin-top: 50px
    .tab
        font-size: 15px
    .tabs__line
        top: 33px
    .tab__item
        font-size: 14px
        line-height: 20px
    
        
    
    
@media (max-width: 440px)
    .header__wrapper
        flex-direction: column
        align-items: flex-start
    .header__bottom 
        height: 190px
    .header__logo
        margin-bottom: 10px
    .tab
        font-size: 13px
    .tabs__line
        top: 30px
   



    